* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 2rem;
  border: 3px solid black;
  border-radius: 2rem;
  font-family: "Times New Roman", Times, serif;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
header {
  text-align: center;
}
header h1 {
  font-size: 3rem;
}
header h4 {
  padding: 1rem 0 1rem 0;
  opacity: 0.5;
  font-size: 1.1rem;
}
main {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.colom1,
.colom2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.colom1 {
  margin-left: 1rem;
  list-style-type: none;
  opacity: 0.5;
  position: relative;
}
.colom1 li {
  padding: 1rem 1.5rem 1rem 1rem;
  border-right: 3px solid black;
  text-align: right;
  position: relative;
}
.colom1 li:nth-child(2) {
  font-size: 1.5rem;
}
.colom1 li:nth-child(3) {
  font-size: 1.4rem;
}
.colom1 li:nth-child(4) {
  font-size: 1.3rem;
}
.colom1 li:nth-child(5) {
  font-size: 1.2rem;
}
.colom1 li:nth-child(6) {
  font-size: 1.1rem;
}
.colom1 li:nth-child(7) {
  font-size: 1rem;
}
.colom1 li:nth-child(8) {
  font-size: 0.9rem;
}

/* Garis penghubung bullet */
.colom1 li::after {
  content: none;
  position: absolute;
  right: -3px; /* Sesuaikan dengan ketebalan border */
  top: 50%;
  width: 2rem; /* Panjang garis horizontal */
  height: 2px;
  background: black;
  transform: translateY(-50%);
}

.colom2 {
  margin-right: 1rem;
  list-style-type: none;
  font-size: 1.3rem;
  position: relative;
}
.colom2 li {
  padding: 1rem 0 1rem 1.5rem;
  text-align: left;
  position: relative;
}

/* Style untuk bullet */

.colom2 li::before {
  content: "•";
  position: absolute;
  top: 1.8rem;
  left: -0.8rem; /* Posisikan di atas garis */
  font-size: 4rem;
  line-height: 0;
  color: black;
}

.colom2 li:nth-child(1):before {
  content: none;
}
.colom2 li:nth-child(9):before {
  content: none;
}

footer {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 30%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: whitesmoke;
  background-color: black;
  margin: 2rem 16rem 0rem 16rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}
